.App {
  text-align: center;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.tweet {
  border: 2px white solid;
  padding: 10px;
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 50px;
  justify-content: space-around;
}

.hide {
  opacity: 0;
}

ul {
  list-style: none;
}

li {
  font-size: 2vmin;
}

.recipe {
  max-width: 33%;
}